@charset "utf-8";


/* Desktop */

    /* all */

        li, p, h1, h2, a, h3 {
            font-family: "Signika_regular", Arial, Helvetica, sans-serif;
            color: black;
        }

        html {
            /* scroll-behavior: smooth; */
            accent-color: #00D1FF;
        }

        /* CSS klassen */
        
            .flex { display: flex; }
            .spacebetween { justify-content: space-between; }
            .spacearound { justify-content: space-around; }
            .aligncenter { align-self: center; }
            .justconcenter { justify-content: center; }
            .pad_lr2 { padding: 0 2%; }
            .pad_lr5 { padding: 0 5%; }
            .txtcenter { text-align: center; }


            :root {
                /* --bg: #rgb(125, 0, 125);
                --txt-dark: #000;
                --txt-light: #fff;
                --focus-text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                --focus-nav-shadow: 0 0 8px rgba(221, 0, 255, 0.6), 0 0 10px rgba(221, 0, 255, 0.8), 0 0 16px rgba(221, 0, 255, 1); */
            }

            body {
                overflow-x: hidden;
                background-color: #b1e2ec;
            }

            h1 {
                font-size: 3rem;
                font-weight: 500;
            }

            h2 {
                font-size: 2.2rem;
            }

            p {
                font-weight: lighter;
            }

            /* Header */

                .header_div {
                    display: flex;
                    justify-content: center;
                    margin: 20px 0 20px 0;
                    & h1, p {
                        color: darkred;
                    }
                    & h1 {
                        margin-bottom: 12px;
                    }
                    & p {
                        font-size: 1.6rem;
                    }
                    & img {
                        width: min-content;
                        height: 110px;
                        object-fit: contain;
                    }
                    div:first-of-type, div:nth-of-type(2) {
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        flex-direction: column;
                    }
                    div:first-of-type {
                        align-items: end;
                        margin-right: 5%;
                    }
                    div:nth-of-type(2) {
                        margin-left: 5%;
                    }
                }

                header ul {
                    display: flex;
                    width: 100%;
                }

                header ul li {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                header ul li a {
                    padding: 20px;
                    text-decoration: none;
                    font-size: 1.2rem;
                    width: 100%;
                    text-align: center;
                }

                .rbg_divs {
                    display: flex;
                    width: 100%;
                }

                .rbg_divs div {
                    height: 30px;
                    width: 100%;
                }

                header ul li:nth-child(2) a, .rbg_divs div:nth-child(2) {
                    background-color: rgb(204, 255, 230);
                }
                
                header ul li:nth-child(3) a, .rbg_divs div:nth-child(3) {
                    background-color: rgb(204, 255, 255);
                }
                
                header ul li:nth-child(4) a, .rbg_divs div:nth-child(4) {
                    background-color: rgb(204, 230, 255);
                }
                
                header ul li:nth-child(5) a, .rbg_divs div:nth-child(5) {
                    background-color: rgb(204, 204, 255);
                }

    /* Der Stör Home */

        /* Header */

            header > a {
                height: fit-content;
            }

            .der_stör {
                width: 16vw;
                height: 100%;
                transform: scaleX(-1);
            }

            .logo_title {
                text-align: center;
                font-size: 2vw;
            }

        /* Main */

            #home > article {
                margin: 5% 20px;
            }

            #home > article:first-of-type {
                display: grid;
                grid-template-columns: 0.5fr 1fr 0.5fr; 
                grid-template-rows: 1fr;
                grid-gap: 20px;
            }

            #sidenav_left {
                grid-column-start: 1;
                padding: 16px;
                & h2 {
                    margin-bottom: 20px;
                }
                & ol {
                    list-style: decimal;
                    margin-left: 16px;
                    & li {
                        padding: 12px 0;
                    }
                    & a {
                        text-decoration: none;
                    }
                }
            }

            #middle {
                grid-column-start: 2;
            }

            #middle > p {
                margin: 8px 0;
            }

            #middle > div {
                display: flex;
                margin-bottom: 5%;
                & h1 {
                    padding-bottom: 7%;
                }
                & div {
                    margin-left: 12px;
                }
            }

            #sidebar_right {
                grid-column-start: 3;
                padding: 16px;
            }

