@charset "utf-8";


/* Desktop */

    /* all */

        li, p, h1, h2, a, h3 {
            font-family: "Signika_regular", Arial, Helvetica, sans-serif;
            color: black;
        }

        html {
            /* scroll-behavior: smooth; */
            accent-color: #00D1FF;
        }

        /* CSS klassen */
        
            .flex { display: flex; }
            .spacebetween { justify-content: space-between; }
            .spacearound { justify-content: space-around; }
            .aligncenter { align-self: center; }
            .justconcenter { justify-content: center; }
            .pad_lr2 { padding: 0 2%; }
            .pad_lr5 { padding: 0 5%; }
            .txtcenter { text-align: center; }


            :root {
                /* --bg: #rgb(125, 0, 125);
                --txt-dark: #000;
                --txt-light: #fff;
                --focus-text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                --focus-nav-shadow: 0 0 8px rgba(221, 0, 255, 0.6), 0 0 10px rgba(221, 0, 255, 0.8), 0 0 16px rgba(221, 0, 255, 1); */
            }

            body {
                overflow-x: hidden;
                background-color: #b1e2ec;
            }

            h1 {
                font-size: 3rem;
                font-weight: 500;
            }

            h2 {
                font-size: 1.4rem;
            }

            /* Header */

                header {
                    padding: 20px;
                    display: flex;
                }

                header ul {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-evenly;
                }

                header ul li a {
                    padding: 20px;
                    text-decoration: none;
                    font-size: 1.2rem;
                }

    /* Der Stör Home */

        /* Header */

            header > a {
                height: fit-content;
            }

            .der_stör {
                width: 16vw;
                height: 100%;
            }

            .logo_title {
                text-align: center;
                font-size: 2vw;
            }

        /* Main */

            #home > article {
                margin: 5% 20px;
            }

            #home > article:first-of-type {
                display: grid;
                grid-template-columns: 0.5fr 1fr 0.5fr; 
                grid-template-rows: 1fr;
                grid-gap: 20px;
            }

            #sidenav_left {
                grid-column-start: 1;
                background-color: aquamarine;
                border: 2px black solid;
                padding: 16px;
                & h2 {
                    margin-bottom: 20px;
                }
                & ol {
                    list-style: decimal;
                    margin-left: 16px;
                    & li {
                        padding: 12px 0;
                    }
                    & a {
                        text-decoration: none;
                    }
                }
            }

            #middle {
                grid-column-start: 2;
                & img {
                    width: 50%;
                    height: 100%;
                }
            }

            #middle > p {
                margin: 8px 0;
            }

            #middle > div {
                display: flex;
                margin-bottom: 5%;
                & h1, p {
                    color: darkred;
                }
                & h1 {
                    padding-bottom: 7%;
                }
                & div {
                    margin-left: 12px;
                }
            }

            #sidebar_right {
                grid-column-start: 3;
                background-color: lightsalmon;
                border: 2px black solid;
                padding: 16px;
            }

